In [4]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import sklearn

In [5]:
from sklearn.pipeline import Pipeline

In [55]:
df=pd.read_csv('final data set.csv',index_col=0)
df.drop(['additive Producer(s) rank',
'additive Director(s) rank',
'additive Writer(s) rank',
'additive Stars rank',
'additive Distributor rank','Worldwide Gross ($)','IMDB score','IMDB votes','IMDB ID',
'Mojo ID','Opening ($)','In Realease (Days)',
'Widest Release','Metascore','User',
'Critic'],axis=1,inplace=True)

In [28]:
df

,Year,Budget,Opening Theaters,Running time (min),genre Action,genre Adventure,genre Fantasy,genre Sci-Fi,genre Animation,genre Comedy,...,country Zambia,country Swaziland,country Republic of North Macedonia,country Reunion,Producer(s) rank,Director(s) rank,Writer(s) rank,Stars rank,Distributor rank,Domestic Gross ($)
0,2011.0,237000000.0,3452.0,162.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,749766139.0
1,2011.0,200000000.0,4028.0,103.0,0.0,1.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,415004880.0
2,2011.0,200000000.0,3728.0,108.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,334191110.0
3,2011.0,200000000.0,4380.0,124.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,312433331.0
4,2011.0,68000000.0,4468.0,124.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,300531751.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7091,2019.0,NaN,1.0,57.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1273.0
7092,2019.0,NaN,1.0,79.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4140.0
7093,2019.0,NaN,1.0,104.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,790.0
7094,2019.0,NaN,1.0,110.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1737.0
7095,2019.0,NaN,1.0,88.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,220.0

In [13]:
for item in df.columns:
    print(item )

Year
Budget
Opening Theaters
Running time (min)
genre Action
genre Adventure
genre Fantasy
genre Sci-Fi
genre Animation
genre Comedy
genre Family
genre Drama
genre Romance
genre Thriller
genre Mystery
genre Crime
genre Sport
genre Musical
genre Documentary
genre History
genre Music
genre Biography
genre Horror
genre War
genre Western
genre Short
genre News
genre Film-Noir
genre Reality-TV
genre Adult
MPAA PG-13
MPAA PG
MPAA R
MPAA G
MPAA Unrated
MPAA NC-17
MPAA Not Rated
MPAA M/PG
MPAA TV-PG
Day
Month
language English
language French
language Swedish
language Spanish
language Italian
language Hindi
language Hebrew
language German
language Arabic
language Korean
language None
language Mandarin
language Finnish
language Japanese
language Danish
language Vietnamese
language Portuguese
language Persian
language Greek
language Cantonese
language Serbian
language Norwegian
language Romanian
language Zulu
language Turkish
language Estonian
language Dutch
language Russian
language Catalan
language Urdu
language Thai
language Southern Sotho
language Bosnian
language Tibetan
language Tamil
language Lingala
language Czech
language Indonesian
language Polish
language Flemish
language Aboriginal
language Albanian
language Filipino
language Punjabi
language Min Nan
language Hungarian
language Chinese
language Malayalam
language Kinyarwanda
language Tagalog
language Lao
language Georgian
language Nepali
language Ukrainian
language Telugu
language Bengali
language Ukrainian Sign Language
language Swiss German
language Basque
language Amharic
language Armenian
language Marathi
language Icelandic
language Bulgarian
language Maori
language Lithuanian
language Kazakh
language Maya
language Burmese
language Tswana
language Yiddish
language Slovak
language Xhosa
language Irish
language American Sign Language
language Malay
language Latin
language Guarani
language Wayuu
language Yakut
language Neapolitan
language Wolof
language Dari
language Rhaetian
country USA
country UK
country France
country Japan
country China
country Australia
country Germany
country Bulgaria
country Spain
country Canada
country New Zealand
country Italy
country United Arab Emirates
country Ireland
country India
country Switzerland
country Monaco
country Sweden
country Denmark
country Norway
country Poland
country Russia
country Argentina
country South Korea
country Hong Kong
country Israel
country Austria
country Egypt
country Mexico
country Belgium
country Netherlands
country Brazil
country Hungary
country Romania
country Malta
country Bahamas
country Isle Of Man
country Cameroon
country Guatemala
country Dominican Republic
country Finland
country Vietnam
country Luxembourg
country Taiwan
country Chile
country Iran
country Greece
country Palestine
country Peru
country Colombia
country Cambodia
country West Germany
country Serbia
country Iceland
country Tunisia
country South Africa
country Senegal
country Kuwait
country Jordan
country Portugal
country Turkey
country Estonia
country Puerto Rico
country Thailand
country Antarctica
country Botswana
country Lebanon
country Kenya
country Pakistan
country Bolivia
country Angola
country The Democratic Republic Of Congo
country Venezuela
country Singapore
country Malaysia
country Soviet Union
country Afghanistan
country Tanzania
country Georgia
country Nigeria
country Chad
country Saudi Arabia
country Philippines
country Ukraine
country Algeria
country Czech Republic
country Bosnia and Herzegovina
country Sri Lanka
country Madagascar
country Côte d'Ivoire
country Uganda
country Indonesia
country Ghana
country Ethiopia
country Namibia
country Qatar
country Lithuania
country Albania
country Slovakia
country Cuba
country Czechoslovakia
country Nepal
country Bhutan
country Slovenia
country Croatia
country Armenia
country Costa Rica
country Haiti
country Rwanda
country Serbia and Montenegro
country Belarus
country Latvia
country Jamaica
country Bangladesh
country Macao
country Morocco
country Ecuador
country Laos
country Greenland
country Paraguay
country Mali
country Papua New Guinea
country Mauritania
country Panama
country Cyprus
country Montenegro
country Malawi
country Sierra Leone
country Liberia
country Mongolia
country North Korea
country Vanuatu
country Uruguay
country Congo
country Kazakhstan
country Myanmar
country Kosovo
country Iraq
country Bahrain
country Zimbabwe
country Syria
country Holy See (Vatican City State)
country Zambia
country Swaziland
country Republic of North Macedonia
country Reunion
Producer(s) rank
Director(s) rank
Writer(s) rank
Stars rank
Distributor rank
Domestic Gross ($)

In [37]:
df.median()

Year                      2015.0
Budget                25000000.0
Opening Theaters             5.0
Running time (min)         101.0
genre Action                 0.0
                         ...
Director(s) rank             0.0
Writer(s) rank               0.0
Stars rank                   0.0
Distributor rank             0.0
Domestic Gross ($)      167810.5
Length: 277, dtype: float64

fill NaN values with median of that column

In [56]:
df.fillna(df.median(),inplace=True)

replace domestic gross and budget with their log

In [57]:
logcolumns=['Domestic Gross ($)','Budget']
df.loc[:, logcolumns] = np.log(df[logcolumns])

scaling the data

In [68]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df[df.columns]=scaler.fit_transform(df)

define X and Y

In [61]:
Y=df['Domestic Gross ($)']
X=df[]

0       20.435272
1       19.843801
2       19.627224
3       19.559902
4       19.521064
          ...
7091     7.149132
7092     8.328451
7093     6.672033
7094     7.459915
7095     5.393628
Name: Domestic Gross ($), Length: 7096, dtype: float64