# Libraries

In [186]:
import pandas as pd 
import numpy as np

# Data Preparation

let's first put together all the data sets

In [261]:
dfs=[]
for year in range(2010,2020):
    dfs.append(pd.read_csv('C:\\Users\\alise\\Dropbox\\Programming\\Machine learning in physics\\Project\\Success in movies\\Machine-learning-in-physics-Project\\Phase 1-Data Collection\\Data\\Yearly data sets\\%s.csv'%year,index_col=0))
meta=pd.concat(dfs,ignore_index=True)

In [262]:
meta.shape

(8403, 27)

In [263]:
meta.head()

,IMDB ID,Mojo ID,title,Genres,Year,Domestic Gross ($),Worldwide Gross ($),Opening ($),Budget,Opening Theaters,...,Producer(s),Running time (min),IMDB score,IMDB votes,Metascore,Meta Users,Country,Language,Distributor,Plot Outline
0,tt0499549,876971521,Avatar,Action\n \n Adventure\n \n ...,2011.0,749766139.0,2.744337e+09,77025481.0,237000000.0,3452.0,...,Brooke Breton\n James Cameron\n Laeta Kalogrid...,162.0,7.8,1122762.0,83.0,"3,483 user\n536 critic\n",USA,English,Twentieth Century Fox,A paraplegic Marine dispatched to the moon Pan...
1,tt0435761,1383564801,Toy Story 3,Adventure\n \n Animation\n \n ...,2011.0,415004880.0,1.066970e+09,110307189.0,200000000.0,4028.0,...,Darla K. Anderson\n John Lasseter\n Nicole Par...,103.0,8.2,760723.0,92.0,912 user\n479 critic\n,USA,English,Walt Disney Studios Motion Pictures,The toys are mistakenly delivered to a day-car...
2,tt1014759,3393226241,Alice in Wonderland,Adventure\n \n Family\n \n ...,2011.0,334191110.0,1.025467e+09,116101023.0,200000000.0,3728.0,...,Katterli Frauenfelder\n Derek Frey\n Chris Leb...,108.0,6.4,385498.0,53.0,802 user\n459 critic\n,USA\nUK,English,Walt Disney Studios Motion Pictures,Nineteen-year-old Alice returns to the magical...
3,tt1228705,1515881985,Iron Man 2,Action\n \n Adventure\n \n ...,2011.0,312433331.0,6.239333e+08,128122480.0,200000000.0,4380.0,...,Victoria Alonso\n Louis D'Esposito\n Susan Dow...,124.0,7.0,726620.0,57.0,912 user\n498 critic\n,USA,English,Paramount Pictures,With the world now aware of his identity as Ir...
4,tt1325004,659654145,The Twilight Saga: Eclipse,Action\n \n Adventure\n \n ...,2011.0,300531751.0,6.984913e+08,64832191.0,68000000.0,4468.0,...,Bill Bannerman\n Marty Bowen\n Wyck Godfrey\n ...,124.0,5.0,229133.0,58.0,528 user\n294 critic\n,USA,English,Summit Entertainment,As a string of mysterious killings grips Seatt...

# Convert genres column to numerical values

In [264]:
for index in meta.index:
    if type(meta.Genres[index])!=float:
        meta.at[index,'Genres']=meta.Genres[index].replace('\n','').split()

In [265]:
genres=[]
for item in meta.Genres:
    if type(item)==list:
        for genre in item:
            genres.append(genre)
genres=sorted(list(set(genres)))

In [266]:
genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Thriller',
 'War',
 'Western']

In [267]:
for index in meta.index:
    if type(meta.loc[index,'Genres'])==list:
        for genre in meta.loc[index,'Genres']:
            meta.loc[index,genre]=1

In [268]:
meta[['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Thriller',
 'War',
 'Western']]

,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,...,Mystery,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Thriller,War,Western
0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
8400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [269]:
for item in genres:
    meta[item]=meta[item].fillna(value=0)

# Convert MPAA column valeus to numerical valeus

In [270]:
mpaa=[]
for i in meta.MPAA.to_list():
   if type(i)!=float:
       mpaa.append(i)


mpaa=sorted(list(set(mpaa)))
#D={}
#for index,item in enumerate(mpaa):
 #   v=np.zeros(len(mpaa),dtype=int)
  #  v[index]=1
   # D[item]=v
#D

In [271]:
for index in meta.index:
    if type(meta.loc[index,'MPAA'])==str:
        meta.loc[index,meta.loc[index,'MPAA']]=1

In [272]:
for item in mpaa:
    meta[item]=meta[item].fillna(value=0)

In [273]:
meta.head(5)

,IMDB ID,Mojo ID,title,Genres,Year,Domestic Gross ($),Worldwide Gross ($),Opening ($),Budget,Opening Theaters,...,Adult,PG-13,PG,R,G,Unrated,NC-17,Not Rated,M/PG,TV-PG
0,tt0499549,876971521,Avatar,"[Action, Adventure, Fantasy, Sci-Fi]",2011.0,749766139.0,2.744337e+09,77025481.0,237000000.0,3452.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,tt0435761,1383564801,Toy Story 3,"[Adventure, Animation, Comedy, Family, Fantasy]",2011.0,415004880.0,1.066970e+09,110307189.0,200000000.0,4028.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,tt1014759,3393226241,Alice in Wonderland,"[Adventure, Family, Fantasy]",2011.0,334191110.0,1.025467e+09,116101023.0,200000000.0,3728.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,tt1228705,1515881985,Iron Man 2,"[Action, Adventure, Sci-Fi]",2011.0,312433331.0,6.239333e+08,128122480.0,200000000.0,4380.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,tt1325004,659654145,The Twilight Saga: Eclipse,"[Action, Adventure, Drama, Fantasy, Romance, T...",2011.0,300531751.0,6.984913e+08,64832191.0,68000000.0,4468.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# adding month and day columns

In [274]:
for index in meta.index:
    if type(meta.loc[index,'Release Date'])!=float:
        try:
            meta.loc[index,'Day']=int(meta.loc[index,'Release Date'].split()[1].replace(',',''))
            meta.loc[index,'Month']=meta.loc[index,'Release Date'].split()[0]
        except:
            meta.loc[index,'Day']=int(meta.loc[index,'Release Date'].split('-')[0])
            meta.loc[index,'Month']=meta.loc[index,'Release Date'].split('-')[1]

In [275]:
month_dict={'Jan':1,'Feb':2,'Mar':3,'Apr':4,'May':5,'Jun':6,'Jul':7,'Aug':8,'Sep':9,'Oct':10,'Nov':11,'Dec':12}
for index in meta.index:
    if type(meta.loc[index,'Month'])==str:
        meta.loc[index,'Month']=month_dict[meta.loc[index,'Month']]

In [276]:
meta.drop('Release Date',axis=1,inplace=True)

In [277]:
meta.drop('Genres',axis=1,inplace=True)

In [278]:
meta.drop('MPAA',axis=1,inplace=True)

In [279]:
meta.columns

Index(['IMDB ID', 'Mojo ID', 'title', 'Year', 'Domestic Gross ($)',
       'Worldwide Gross ($)', 'Opening ($)', 'Budget', 'Opening Theaters',
       'In Realease (Days)', 'Widest Release', 'Stars', 'Director(s)',
       'Writer(s)', 'Producer(s)', 'Running time (min)', 'IMDB score',
       'IMDB votes', 'Metascore', 'Meta Users', 'Country', 'Language',
       'Distributor', 'Plot Outline', 'Action', 'Adventure', 'Fantasy',
       'Sci-Fi', 'Animation', 'Comedy', 'Family', 'Drama', 'Romance',
       'Thriller', 'Mystery', 'Crime', 'Sport', 'Musical', 'Documentary',
       'History', 'Music', 'Biography', 'Horror', 'War', 'Western', 'Short',
       'News', 'Film-Noir', 'Reality-TV', 'Adult', 'PG-13', 'PG', 'R', 'G',
       'Unrated', 'NC-17', 'Not Rated', 'M/PG', 'TV-PG', 'Day', 'Month'],
      dtype='object')

# separate regular users and critics and add them in to our data set

In [280]:
for index in meta.index:
    if type(meta.loc[index,'Meta Users'])==str:
        demo=meta.loc[index,'Meta Users'].strip().split('\n')
        for item in demo:
            user=item.split()
            if user[1]=='user':
                meta.loc[index,'User']=int(user[0].replace(',',''))
            elif user[1]=='critic':
                meta.loc[index,'Critic']=int(user[0].replace(',',''))

In [281]:
meta.drop('Meta Users',axis=1,inplace=True)

# add languages as a separate column for each language using one hot encoding

In [282]:
language=set(meta.Language)
language={x for x in a if x==x}
language=sorted(a)

In [313]:
for index in meta.index:
    if type(meta.loc[index,'Language']==str):
        meta.loc[index,meta.loc[index,'Language']]=1
for item in language:
    meta[item]=meta[item].fillna(value=0)

In [314]:
meta['English']

0       1
1       1
2       1
3       1
4       1
       ..
8398    1
8399    0
8400    0
8401    0
8402    1
Name: English, Length: 8403, dtype: int64

In [315]:
meta.head()

,IMDB ID,Mojo ID,title,Year,Domestic Gross ($),Worldwide Gross ($),Opening ($),Budget,Opening Theaters,In Realease (Days),...,American Sign Language,Malay,Latin,Guarani,Wayuu,Yakut,Neapolitan,Wolof,Dari,Rhaetian
0,tt0499549,876971521,Avatar,2011.0,749766139.0,2.744337e+09,77025481.0,237000000.0,3452.0,379.0,...,0,0,0,0,0,0,0,0,0,0
1,tt0435761,1383564801,Toy Story 3,2011.0,415004880.0,1.066970e+09,110307189.0,200000000.0,4028.0,203.0,...,0,0,0,0,0,0,0,0,0,0
2,tt1014759,3393226241,Alice in Wonderland,2011.0,334191110.0,1.025467e+09,116101023.0,200000000.0,3728.0,302.0,...,0,0,0,0,0,0,0,0,0,0
3,tt1228705,1515881985,Iron Man 2,2011.0,312433331.0,6.239333e+08,128122480.0,200000000.0,4380.0,239.0,...,0,0,0,0,0,0,0,0,0,0
4,tt1325004,659654145,The Twilight Saga: Eclipse,2011.0,300531751.0,6.984913e+08,64832191.0,68000000.0,4468.0,185.0,...,0,0,0,0,0,0,0,0,0,0

In [318]:
meta.drop('Language',axis=1,inplace=True)

# add country as a feature

In [337]:
for index in meta.index:
    if type(meta.loc[index,'Country'])!=float:
        meta.at[index,'Country']=meta.loc[index].Country.split('\n')

In [338]:
meta.drop('country',axis=1,inplace=True)

In [343]:
for index in meta.index:
    if type(meta.loc[index,'Country'])==list:
        for item in meta.loc[index,'Country']:
            meta.loc[index,item]=1

In [345]:
meta.loc[2,[]]

IMDB ID                                    tt1014759
Mojo ID                                   3393226241
title                            Alice in Wonderland
Year                                            2011
Domestic Gross ($)                       3.34191e+08
                                        ...
Holy See (Vatican City State)                    NaN
Zambia                                           NaN
Swaziland                                        NaN
Republic of North Macedonia                      NaN
Reunion                                          NaN
Name: 2, Length: 292, dtype: object

In [355]:
meta.drop('Country',axis=1,inplace=True)

In [356]:
meta.columns.values

array(['IMDB ID', 'Mojo ID', 'title', 'Year', 'Domestic Gross ($)',
       'Worldwide Gross ($)', 'Opening ($)', 'Budget', 'Opening Theaters',
       'In Realease (Days)', 'Widest Release', 'Stars', 'Director(s)',
       'Writer(s)', 'Producer(s)', 'Running time (min)', 'IMDB score',
       'IMDB votes', 'Metascore', 'Distributor', 'Plot Outline', 'Action',
       'Adventure', 'Fantasy', 'Sci-Fi', 'Animation', 'Comedy', 'Family',
       'Drama', 'Romance', 'Thriller', 'Mystery', 'Crime', 'Sport',
       'Musical', 'Documentary', 'History', 'Music', 'Biography',
       'Horror', 'War', 'Western', 'Short', 'News', 'Film-Noir',
       'Reality-TV', 'Adult', 'PG-13', 'PG', 'R', 'G', 'Unrated', 'NC-17',
       'Not Rated', 'M/PG', 'TV-PG', 'Day', 'Month', 'User', 'Critic',
       'English', 'French', 'Swedish', 'Spanish', 'Italian', 'Hindi',
       'Hebrew', 'German', 'Arabic', 'Korean', 'None', 'Mandarin', nan,
       'Finnish', 'Japanese', 'Danish', 'Vietnamese', 'Portuguese',
       'Persian', 'Greek', 'Cantonese', 'Serbian', 'Norwegian',
       'Romanian', 'Zulu', 'Turkish', 'Estonian', 'Dutch', 'Russian',
       'Catalan', 'Urdu', 'Thai', 'Southern Sotho', 'Bosnian', 'Tibetan',
       'Tamil', 'Lingala', 'Czech', 'Indonesian', 'Polish', 'Flemish',
       'Aboriginal', 'Albanian', 'Filipino', 'Punjabi', 'Min Nan',
       'Hungarian', 'Chinese', 'Malayalam', 'Kinyarwanda', 'Tagalog',
       'Lao', 'Georgian', 'Nepali', 'Ukrainian', 'Telugu', 'Bengali',
       'Ukrainian Sign Language', 'Swiss German', 'Basque', 'Amharic',
       'Armenian', 'Marathi', 'Icelandic', 'Bulgarian', 'Maori',
       'Lithuanian', 'Kazakh', 'Maya', 'Burmese', 'Tswana', 'Yiddish',
       'Slovak', 'Xhosa', 'Irish', 'American Sign Language', 'Malay',
       'Latin', 'Guarani', 'Wayuu', 'Yakut', 'Neapolitan', 'Wolof',
       'Dari', 'Rhaetian', 'USA', 'UK', 'France', 'Japan', 'China',
       'Australia', 'Germany', 'Bulgaria', 'Spain', 'Canada',
       'New Zealand', 'Italy', 'United Arab Emirates', 'Ireland', 'India',
       'Switzerland', 'Monaco', 'Sweden', 'Denmark', 'Norway', 'Poland',
       'Russia', 'Argentina', 'South Korea', 'Hong Kong', 'Israel',
       'Austria', 'Egypt', 'Mexico', 'Belgium', 'Netherlands', 'Brazil',
       'Hungary', 'Romania', 'Malta', 'Bahamas', 'Isle Of Man',
       'Cameroon', 'Guatemala', 'Dominican Republic', 'Finland',
       'Vietnam', 'Luxembourg', 'Taiwan', 'Chile', 'Iran', 'Greece',
       'Palestine', 'Peru', 'Colombia', 'Cambodia', 'West Germany',
       'Serbia', 'Iceland', 'Tunisia', 'South Africa', 'Senegal',
       'Kuwait', 'Jordan', 'Portugal', 'Turkey', 'Estonia', 'Puerto Rico',
       'Thailand', 'Antarctica', 'Botswana', 'Lebanon', 'Kenya',
       'Pakistan', 'Bolivia', 'Angola',
       'The Democratic Republic Of Congo', 'Venezuela', 'Singapore',
       'Malaysia', 'Soviet Union', 'Afghanistan', 'Tanzania', 'Georgia',
       'Nigeria', 'Chad', 'Saudi Arabia', 'Philippines', 'Ukraine',
       'Algeria', 'Czech Republic', 'Bosnia and Herzegovina', 'Sri Lanka',
       'Madagascar', "Côte d'Ivoire", 'Uganda', 'Indonesia', 'Ghana',
       'Ethiopia', 'Namibia', 'Qatar', 'Lithuania', 'Albania', 'Slovakia',
       'Cuba', 'Czechoslovakia', 'Nepal', 'Bhutan', 'Slovenia', 'Croatia',
       'Armenia', 'Costa Rica', 'Haiti', 'Rwanda',
       'Serbia and Montenegro', 'Belarus', 'Latvia', 'Jamaica',
       'Bangladesh', 'Macao', 'Morocco', 'Ecuador', 'Laos', 'Greenland',
       'Paraguay', 'Mali', 'Papua New Guinea', 'Mauritania', 'Panama',
       'Cyprus', 'Montenegro', 'Malawi', 'Sierra Leone', 'Liberia',
       'Mongolia', 'North Korea', 'Vanuatu', 'Uruguay', 'Congo',
       'Kazakhstan', 'Myanmar', 'Kosovo', 'Iraq', 'Bahrain', 'Zimbabwe',
       'Syria', 'Holy See (Vatican City State)', 'Zambia', 'Swaziland',
       'Republic of North Macedonia', 'Reunion'], dtype=object)